<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="content-publisher">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
